.home-bg {
    background-image: url("./../../public/Home.png");
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

[data-theme='dark'] .home-bg {
    background-image: url("./../../public/Home-Dark.png");
}

.home-page {
    position: relative;
    z-index: 1;
    margin-top: calc(10px + 7vh);
    width: 100%;
}

.home-page__title {
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 4.5rem;
}

.home-page__description {
    font-size: 1.75rem;
    margin: 3.5rem 0;
}

.home-page__CTA {
    background-color: var(--button-hover-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid var(--button-shadow-color);
    box-shadow: 1px 2px 0px 1px var(--button-shadow-color);
    cursor: pointer;
    transition: 0.125s box-shadow, 0.25s transform, 0.125s filter;
    will-change: contents;
}

.home-page__CTA:hover, .home-page__CTA:focus-visible {
    box-shadow: 1px 2px 0px 1px transparent;
    transform: translate(1px, 2px);
}

.home-page__CTA:active {
    filter: brightness(0.925);
}

.home-page__CTA a {
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.75rem;
    color: var(--text-color);
}

.home-page__CTA svg {
    width: 48px;
    height: auto;
    stroke: var(--text-color);
}