:root {
  --background-color: #b2d4e6;
  --text-color: #000000;
  --sidebar-bg-color: #a3c1d1;
  --link-color: rgb(8, 8, 8);
  --link-hover-color: #8c4c65;
  --profile-border-color: rgb(0, 0, 0);
  --header-button-bg-color: #8ba3b0;
  --header-hover-bg-color: #f8acc9;
  --button-bg-color: #8ba3b0;
  --button-hover-bg-color: #f8acc9;
  --button-font-color: black;
  --header-button-font-color: black;

}

[data-theme='dark'] {
  --background-color: #222121;
  --text-color: #ffffff;
  --sidebar-bg-color: #2d2d2d;
  --link-color: rgb(255, 255, 255);
  --link-hover-color: #c5d653;
  --profile-border-color: white;
  --header-button-bg-color: #6DB432;
  --header-hover-bg-color:  #c5d653;
  --button-bg-color: #6DB432;
  --button-hover-bg-color: #c5d653;
  --button-font-color: white;
  --header-button-font-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.profile-content {
  position: fixed; /* Fix the header to the top */
  top: 10%;
  left: 20%;

}

.sidebar {
  height: 100vh;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: var(--sidebar-bg-color);
}

.sidebar ul {
  margin-top: 25px;
  list-style-type: none;
  padding: 0;
}

.sidebar ul li a {
  padding: 20px 30px;
  text-decoration: none;
  font-size: 16px;
  /* font-weight: 500; */
  color: var(--link-color);
  display: block;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.sidebar ul li a:hover {
  color: var(--link-hover-color);
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.profile-picture {
  margin-top: 20px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border: 1.5px solid var(--profile-border-color);
}

.logout {
  margin-top: 180px;
  padding: 8px;
  margin-bottom: 0;
  list-style: none;
}

.logout a {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 16px;
  color: var(--link-color);
  display: block;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  /* font-weight: 500; */
}

.logout a:hover {
  color: var(--link-hover-color);
}

.EngToSpan-container {
  /* position: fixed;
  left: 30%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.read-content h2, .read-content p {
  color: var(--text-color);
}

.read-content h2 {
  font-size: 24px;
  font-weight: bold;
}

.read-content p {
  font-size: 16px;
  line-height: 1.5;
}

.read-content {
  display: flex;
}

.story {
  flex: 1;
  margin: 0 10px;
}

.read-button {
  background-color: var(--button-bg-color);
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--button-font-color);
}

.read-button:hover {
  background-color: var(--button-hover-bg-color);
}

.header {
  position: fixed;
  top: 0;
  right: 2%;
  width: calc(100% - 10px);
  display: flex;
  justify-content: flex-end; 
  background-color: var(--background-color); 
  padding: 10px; 
}

.header-button button,
.header-button select {
  margin-left: 10px; 
  color: white; 
  color: var(--header-button-font-color);
  background-color: var(--header-button-bg-color);
  border: none;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; 
}

.header-button button:hover,
.header-button select:hover {
  background-color: var(--header-hover-bg-color); 
}

.header-button select {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;
}

.heart-model {
  /* transform: translate(-50%, -50%);  */
  z-index: 10;
}

.explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh;
  padding-top: 20px; 
}

.main-content {
  display: flex;
  justify-content: center; 
  align-items: start; 
  flex-wrap: wrap; 
  gap: 20px; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.class-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.class-container,
.heart-container {
  padding: 0;
  margin: 0;
}

.class-preview {
  margin-bottom: 30px; 
  width: 150px; 
  height: auto;
}

.explore-footer p {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .class-container, .heart-container {
    align-items: center;
    margin-bottom: 20px;
  }
}

.community-container {
  position: fixed; 
  top: 10%;
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.community-content {
  max-width: 500px; 
  margin: auto;
}

.ai-chat-button {
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ai-chat-button:hover {
  background-color: var(--button-hover-bg-color);
}

.ai-chat-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


